.home-banner {
  background-image: url('../../../public/assets/home-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.overlay-banner {
  width: 100%;
  height: 100%;
  background-image: url('../../../public/assets/home-shadow.svg');
  background-repeat: no-repeat;
}
